[user]
	name = Ankur Biswas
	email = iankurbiswas@outlook.com
[credential]
	helper = osxkeychain
[alias]
	a = add
	s = status
	cm = commit -am
	up = commit --amend
	sv = stash save
	lg = log --graph --oneline --decorate
	ptm = push -u origin master
	pfm = pull origin master
	cob = checkout -b
[color]
	ui = auto
[core]
  editor = vim
